:root{
    --color-header:#151414;
    --color-main:#171717;
    --color-text:#ffffff;
    --color-subtext: #969696;
    --color-button:#408BEA;
    --color-sub-btn:#454545;
    --color-bg-btn-year:rgba(0,0,0,.3);
    --color-text-btn-year:rgba(255,255,255,.5);
}

*{
    box-sizing: border-box;
    
}

p{
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

header{
    
    background-color: var(--color-header);

}
.main-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-menu .logo{
    width: 180px;
    height: 70px;
    background-color: var(--color-sub-btn);
}
.main-menu .logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main-menu .nav-bar ul{
    display: flex;
    padding-bottom: 0px;
    margin-bottom: 0;


}
.main-menu .nav-bar ul li{
  
    margin-right: 15px;
    list-style: none;
}
.main-menu .nav-bar ul li a{
    text-decoration: none;
    color: var(--color-text);
    font-size: 18px;
    padding: 5px 20px;

}
.main-menu .nav-bar ul li a:hover{
    color: var(--color-button);



.main-menu .nav-bar ul .item a{
    position: relative;
}
}
.main-menu .nav-bar .sub-menu .dropdown-submenu{
    
    position: absolute;
    padding-top: 22px;
    display: none;
    
}
.main-menu .nav-bar .sub-menu span ion-icon{
    color: var(--color-text);
    width: 15px;
    height: 15px;
}
.main-menu .nav-bar .sub-menu .dropdown-submenu ul{

    background-color: rgb(43, 43, 43);
    padding-left: 0px;
    max-width: 500px;
    flex-wrap: wrap;


    
}
.main-menu .nav-bar .sub-menu .dropdown-submenu ul li{
    width: calc(100% / 3);
    margin-right: 0;
    padding-bottom: 10px;
   
}
.main-menu .nav-bar .sub-menu .dropdown-submenu ul li a{
    font-size: 15px;
    color: #b3b3b3;
}
.main-menu .nav-bar .sub-menu a{
    padding-right: 5px;
}
.main-menu .nav-bar  li:hover span ion-icon{
    color: #408BEA;
}
.main-menu .nav-bar  li:hover .dropdown-submenu{
    display: block;

}
.main-menu .nav-bar .sub-menu .dropdown-submenu ul li span ion-icon{
    color: var(--color-text);
    transform: rotate(-90deg);
    display: inline-block;
    width: 15px;
    height: 15px;
    color: #b3b3b3;

}
.main-menu .nav-bar .sub-menu .dropdown-submenu ul li a{
    padding: 5px 10px;
}
.main-menu .btn-search{
    background-color: var(--color-sub-btn);
    border-radius: 5px;
    padding: 5px;
}
.main-menu .btn-search input{
    background-color: var(--color-sub-btn);
    border: 1px var(--color-header);
    width: 300px;
    height: 30px;
    border: none;
    outline: none;
    color: var(--color-text);
}
.main-menu .btn-search button{
    background-color: var(--color-sub-btn);
    border: none;
    outline: none;
    vertical-align: middle;
}
.main-menu .btn-search button ion-icon{
    color: var(--color-text);
    width: 25px;
    height: 25px;
}

.container{
    background-color: var(--color-main);
    padding: 0px 0px !important;
}
.container .notification{
  
    border: 1px solid #b8b612;
    background-color: #000;
}
.container .notification p{
    font-size: 16px;
    color : #808080;    
    text-align: center;
}
.container .main-movie{
   
    display: flex;

}
.container .main-movie .contain-movie-left{
    width: 70%;
    padding: 20px;
    display: inline-block;
    
}

.main-movie .contain-movie-left .featured-movie{
    border-bottom: 0.8px solid var(--color-sub-btn);
    margin-bottom: 20px;
}
.title-movie h5{
    color: var(--color-text);
    border-left: 2.4px solid #408BEA;
    padding-left: 20px;
}

 .title-movie {
    display: flex;
    justify-content: space-between;
}
.title-movie div{
    margin: 0;
    background-color: var(--color-main);
}
.title-movie div .btn-see-more{
    background-color: var(--color-button);
    border-radius: 2px;
    font-size: 12px;
    color: var(--color-text);
    font-weight: 500;
}
.title-movie div .see-more{
    color: var(--color-button);
    text-decoration: none ;
    font-size: 14px;
    font-weight: 500;
}
.title-movie div button{
    background-color: var(--color-main);
    border: none;
}
.title-movie button ion-icon{
    vertical-align: middle;
    color: var(--color-text);
    background-color: var(--color-main);
    width: 25px;
    height: 25px;
}
.cart-movie{
    width: 100%;
}

 .cart-movie-item{
    margin-top: 15px;
    width: calc(100% / 5.11);
    padding: 10px;
    display: inline-block;
    
    box-sizing: border-box;
    
}

.cart-movie-item .image-movie{
    position: relative;
    overflow: hidden;
   
}
.cart-movie-item .image-movie img{
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
    
}
.cart-movie-item .image-movie label{
    position: absolute;
    background-color: #ff0000;
    color: #fff;
    top :0px ;
    left: 0px;
    font-size: 10px;
    padding: 5px 10px;
    font-weight: 500;
    text-transform: uppercase;
  
}
 .cart-movie-item .image-movie .vietsub{
    position: absolute;
    background-color: #408BEA;
    color: #fff;
    bottom: 5px;
    left: 5px;
    padding: 5px 10px;
    text-decoration: none;
    font-size: 10px;
    font-weight: 500;
    text-transform: uppercase;

}



.cart-movie-item .image-movie ion-icon{
    width: 70px;
    height: 70px;
    position: absolute;
    top: 30%;
    left: 25%;
    border: none; 
   color: var(--color-text);
   display: none;

  
}

.cart-movie-item .image-movie :hover  img{
    opacity: 0.15;
    transform: scale(1.125);
}

.cart-movie-item .image-movie:hover   ion-icon {
   display: inline-block;
   
  
}
 .cart-movie-item .body-cart a {
    text-decoration: none;
    
}
 .cart-movie-item .body-cart a h6{
    margin: 0;
    color: var(--color-text);
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 1px;
    margin-top: 5px;
    width: 100%;
    float: left;
}
.cart-movie-item .body-cart p{
    color: var(--color-subtext);
}
.new-movie .new-movie-item{
    display: flex;
    border-bottom: 0.8px solid var(--color-sub-btn);
    margin: 15px 0px;
}
.new-movie .new-movie-item .item-left{
    width: 10%;
}
.new-movie .new-movie-item .item-left div {
    display: flex;
    justify-content: center;
    align-items: center;

}  
.new-movie .new-movie-item .item-left div h5{
    color: var(--color-button);
    font-size: 28px;
    font-weight: 400;
    margin: 0;

}
.new-movie .new-movie-item .item-left div h6{
 
    font-size: 12px;
    text-transform: uppercase;
    display: block;
    color: var(--color-subtext);
    
   
}
.new-movie .new-movie-item .item-right{
    width: 90%;
}
.new-movie .new-movie-item .item-right a{
    text-decoration: none;
    color: var(--color-text);
}
.new-movie .new-movie-item .item-right p{
    color: #d4d4d4;
}
.categories-right{
    padding: 30px;
    display: inline-block;
    width: 30%;
    background-color: var(--color-main);
    border-left: 0.5px solid var(--color-sub-btn);
}
.year-of-release .title-year {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;

}
.year-of-release .title-year h5{
    float: right;
    color: var(--color-subtext);
    font-size: 17px;
    
}
.year-of-release .title-year button{
    float: right;
    background-color: var(--color-main);
    border: none;

}
.year-of-release .title-year button ion-icon{
    color: var(--color-text);
    width: 20px;
    height: 20px;
}
.every-year{
    padding-bottom: 20px;
}
.every-year .btn-year{
    width: 30%;
    padding: 8px 0px;
    margin-right: 2%;
    margin-bottom: 2%;
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    border: none;
    background-color: var(--color-bg-btn-year);
    color: var(--color-text-btn-year);
   
}
.every-year .btn-year:hover{
    background-color: var(--color-button);
   color: var(--color-text);
}
.categories-right .movie-center-right{
    text-align: center;
    width: 97%;
    height: 170px;
    margin-top: 20px;
    position: relative;
    overflow: hidden;
    margin-bottom: 40px;
}
.categories-right .movie-center-right img{
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}
.categories-right .movie-center-right h5{
    position: absolute;
    bottom: 20px;
    color: var(--color-text);
    font-weight: 400;
    line-height: 20px;
    font-size: 14px;
    left: 10px;
}
.categories-right .movie-center-right p{
    position: absolute;
    bottom: 2px;
    color: var(--color-text-btn-year);
    font-weight: 400;
    line-height: 20px;
    font-size: 14px;
    left: 10px;
}
.categories-right .movie-center-right:hover img{
    opacity: 0.8;
}
.categories-right .cart-movie-right {
    display: flex;
    width: 97%;
    background-color: var(--color-bg-btn-year);
    margin-bottom: 20px;
}
.categories-right .cart-movie-right img{
    width: 25%;
}
.categories-right .cart-movie-right .content-cart-movie-right{
    padding: 10px;
   
}
.categories-right .cart-movie-right .content-cart-movie-right h5{
    color: var(--color-text);
    font-weight: 500;
    font-size: 13px;
}
.categories-right .cart-movie-right .content-cart-movie-right button{
    display: flex;
    align-items: center;
    padding: 4px 7px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid var(--color-subtext);
    border-radius: 2px;
    height: 25px;
}.categories-right .cart-movie-right .content-cart-movie-right div{
    display: flex;
}
.categories-right .cart-movie-right .content-cart-movie-right  p{
    margin: 0 !important;
    color: var(--color-text-btn-year);
    padding: 0 4px;
    font-size: 15px;
}
.categories-right .cart-movie-right .content-cart-movie-right ion-icon{
    color: var(--color-subtext);
}
.categories-right .cart-movie-right .content-cart-movie-right ion-icon:hover{
    color: var(--color-button);
}
.container-footer{
    background-color: var(--color-main);

}
.content-footer{
    padding: 40px;
    display: flex;
    border-top: 1px solid var(--color-sub-btn);
}
.content-footer .fotlogo{
    width: 30%;


}
.content-footer .fotlogo img{
    width: 60%;
 
}
.content-footer .fotlogo p{
    color: var(--color-text-btn-year);
    padding: 0px 10px;
    font-size: 13px;
    font-weight: 400;

}
.content-footer .fotlogo p a{
    color: var(--color-button);
    text-decoration: none;
}
.content-footer .fotitem{
    width: 60%;
    display: flex;
    margin: 0px 5%;
}
.content-footer .fotitem .item{
    width: calc(100% /3 );
}
.content-footer .item ul{
    list-style-type: none;
}
.content-footer .item ul h6{
    font-size: 16px;
    font-weight: 400;
    color: var(--color-text);
}
.content-footer .item ul a{
    text-decoration: none;
}
.container .fotlink{
    margin: 0px 40px;
    padding: 20px;
    border-top: 1px solid var(--color-sub-btn);
    display: flex;
    justify-content: space-between;
}
.container .fotlink .copy{
    color: var(--color-subtext);
}
.container .fotlink .link{
    display: inline-block;
}
.container .fotlink .link ion-icon{
    background-color: var(--color-main);
    color: var(--color-text);
    width: 20px;
    height: 20px;
    padding:0px 15px;
    
   
    border-right: 1px solid var(--color-sub-btn);
}
.container .fotlink .link ion-icon:hover{
    color: var(--color-button);
}

.container .fotlink .link .iconfinal{
    background-color:var(--color-sub-btn);
    color: var(--color-text);
  
    margin-left: 15px;
   padding-left: 10px;
    width: 30px;
    height:30px;
    border: none;
    border-radius: 5px;

}